/.idea/.gitignore
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Dart_SDK.xml
/.idea/caches/deviceStreaming.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/take-home-assessment.iml
/.idea/vcs.xml
/backend.zip
/.idea/copilot.data.migration.ask.xml
/.idea/deviceManager.xml
/flutter_app.zip
/.idea/git_toolbox_prj.xml
/backend/package-lock.json
